* {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    
}

.topbar {
    background: #b8b8b8;
    padding: 0px 20px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 55px;
}

.next-level-adventure {
    font-family: "Inter-ExtraBold", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

nav {
    padding: 0px 30px;
    display: flex;
    
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

nav > a {
    text-decoration: none;
    font-size: 20px;
}

.profile {
    background: linear-gradient(to left, #d9d9d9, #d9d9d9);
    border-radius: 50%;

    width: 45px;
    height: 45px;

    object-fit: cover;
}

.trip-recomendation {
    background: #ffffff;
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    align-self: stretch;
    flex: 1;
}

.search-bar {
    background: #d9d9d9;
    border-radius: 24px;
    padding: 6px 16px 6px 16px;
    margin: 0px 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    align-self: stretch;
}

.search-img {

    width: 25px;
    height: 25px;
}

.search {
    background: none;
    border: none;
    font-size: 16px;
    width: 100%;
}

.search:focus {
    outline: none;
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
}

.title {



    font-size: 28px;


    width: 900px;
}

.trip-container {
    display: flex;
    
    gap: 10px;
    align-items: center;
    


    
}

.trip-card-hi-fi {
    border-radius: 10px;
    border-style: solid;
    border-color: #1e1e1e;
    border-width: 1px;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    

    width: 250px;
    height: 300px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.trip-thumbnail {
    background: linear-gradient(to left, #d9d9d9, #d9d9d9);
    align-self: stretch;

    height: 151px;

    object-fit: cover;
}

.home-trip-top {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
    align-self: stretch;
    flex: 1;

    
}

.trip-name {



    font-size: 20px;


}

.stars {
    display: flex;
    
    gap: 0px;
    align-items: center;
    

    width: 140px;

    
}

.star {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star2 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star3 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star4 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star5 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.home-trip-bottom {
    padding: 0px 20px 0px 20px;
    display: flex;
    
    gap: 10px;
    align-items: center;
    justify-content: center;


    
}

.rp-xx-xxx {



    font-size: 20px;


}

.star6 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star7 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star8 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star9 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star10 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star11 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star12 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star13 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star14 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star15 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star16 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star17 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star18 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star19 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star20 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star21 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star22 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star23 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star24 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star25 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star26 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star27 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star28 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star29 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star30 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star31 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star32 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star33 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star34 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star35 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star36 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star37 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star38 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star39 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star40 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star41 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star42 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star43 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star44 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star45 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star46 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star47 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star48 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star49 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star50 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star51 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star52 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star53 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star54 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star55 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star56 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star57 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star58 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star59 {

    width: 24px;
    height: 24px;

    overflow: visible;
}

.star60 {

    width: 24px;
    height: 24px;

    overflow: visible;
}